{extend name="default:layout:base" /}

{block name="main"}
<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header" style="font-weight: bold;">{$activity.title}</div>
            <div class="layui-card-body layui-text">
                <div class="layui-row">
                    <div class="layui-col-md1">活动ID：{$activity.activityId}</div>
                    <div class="layui-col-md2">活动时间：{$activity.startTime} ~ {$activity.endTime}</div>
                    <div class="layui-col-md3">报名时间：{$activity.createTimeStart} ~ {$activity.createTimeEnd}</div>
                    <div class="layui-col-md2">活动状态：{$activity.status_title}</div>
                    <div class="layui-col-md2">咚咚账号：{$activity.dongdong}</div>
                    <div class="layui-col-md2">QQ账号：{$activity.qq}</div>
                </div>
            </div>
        </div>
        <blockquote class="layui-elem-quote">注意：每日23:00-次日凌晨1点期间系统关闭商品审核功能</blockquote>
    </div>

    <div class="layui-col-md12">
        <div style="height: 20px;"></div>
        <div class="layui-tab layui-tab-brief" lay-filter="{$controller}-tab">
            {notempty name="tab_nav"}
            <ul class="layui-tab-title">
                {volist name="tab_nav.tab_list" id="tab"}
                <li class="{if $key eq $tab_nav['current_tab']}layui-this{/if}"><a href="{$tab.href}">{$tab.title}</a></li>
                {/volist}
            </ul>
            {/notempty}
            <div class="layui-tab-content">
                {switch $tab_nav.current_tab}
                {case goods}{include file="default:activity:goods" /}{/case}
                {case effect}{include file="default:activity:effect" /}{/case}
                {default /}{include file="default:activity:info" /}
                {/switch}
            </div>
        </div>
    </div>
</div>
{/block}