<div class="layui-card">
    <div class="layui-card-header">商品要求</div>
    <div class="layui-card-body layui-text">
        <div class="layui-row">
            <div class="layui-col-md2">商品种类：{Jd:goodslimit name='activity' field="goodsType" options="dict" /}</div>
            <div class="layui-col-md2">商品价格：{:empty($activity.priceMin) ? '不限' : ('￥'.$activity.priceMin.'-'.'￥'.$activity.priceMax)}</div>
            <div class="layui-col-md2">近7天销量：{$activity.weeklySales == -1 ? '不限' : $activity.weeklySales.'件及以上'}</div>
            <div class="layui-col-md2">好评率：{$activity.favorableRate}%</div>
            <div class="layui-col-md2">评论数量：{$activity.evaluationCnt == -1 ? '不限' : $activity.evaluationCnt . '个及以上'}</div>
            <div class="layui-col-md2">是否有优惠券：{$activity.coupon == -1 ? '不限' : '要求有券'}</div>
            <div class="layui-col-md2">运费险：{$activity.freightInsurance == -1 ? '不限' : ($activity.freightInsurance==1 ? '是':'否')}</div>
            <div class="layui-col-md2">限拼购：{$activity.purchase == -1 ? '不限' : ($activity.purchase==1 ? '是':'否')}</div>
            <div class="layui-col-md2">京东物流：{$activity.jdLogistics == -1 ? '不限' : ($activity.jdLogistics==1 ? '是':'否')}</div>
        </div>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-header">店铺要求</div>
    <div class="layui-card-body layui-text">
        <div class="layui-row">
            <div class="layui-col-md3">是否为京东好店：{$activity.jdGoodShop == -1 ? '不限' : '是'}</div>
        </div>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-header">服务费要求</div>
    <div class="layui-card-body layui-text">
        <div class="layui-row">
            {if !empty($activity.serviceRateMin)}
            <div class="layui-col-md3">自营服务费比例：{$activity.serviceRateMin}%</div>
            {/if}
            {if !empty($activity.popServiceRateMin)}
            <div class="layui-col-md3">POP服务费比例：{$activity.popServiceRateMin}%</div>
            {/if}
        </div>
    </div>
</div>

<div class="layui-card">
    <div class="layui-card-header">佣金要求</div>
    <div class="layui-card-body layui-text">
        <div class="layui-row">
            {if !empty($activity.selfCidList)}
            <div class="layui-col-md5">
                <h3>自营</h3>
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th>类目</th>
                        <th>佣金比例</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $activity.selfCidList as $v}
                    <tr>
                        <td>{$v.categoryName1??''}</td>
                        <td>{$v.commissionRateMin}%</td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            {/if}
            {if !empty($activity.popCidList)}
            <div class="layui-col-md5 layui-col-md-offset1">
                <h3>POP</h3>
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th>类目</th>
                        <th>佣金比例</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $activity.popCidList as $v}
                    <tr>
                        <td>{$v.categoryName1??''}</td>
                        <td>{$v.commissionRateMin}%</td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            {/if}
        </div>
    </div>
</div>

<div class="layui-card">
    <div class="layui-card-header">效果预估</div>
    <div class="layui-card-body layui-text">
        <div class="layui-row">
            <div class="layui-col-md3">预估SKU销售数量：{$activity.estimateSales}个</div>
        </div>
    </div>
</div>